<span class="text-aviso"><span class="bold-text">"CONCEPT HAUS"</span> en la prestación de su servicio tiene la
  misión de mantener una
  relación estrecha y activa con sus clientes, empleados, proveedores, prestadores
  de servicio, concursantes y cualquier persona física que tenga que proporcionar
  datos personales con motivo de una relación jurídica, laboral y/o comercial.<br>

  <span class="text-aviso">En la recolección y tratamiento de los datos personales que usted nos proporciona,
    cumplimos todos los principios que marca la Ley Federal de Protección de Datos
    Personales en Posesión de los Particulares y su Reglamento: licitud, calidad,
    consentimiento, información, finalidad, lealtad, proporcionalidad y responsabilidad.
    Así como los deberes de seguridad y confidencialidad.<br><br>
    Usted puede acceder a nuestro sitio web sin proporcionar datos personales, sin
    embargo, existen determinadas secciones dentro del mismo en donde puede
    proporcionar voluntariamente sus datos. Estos pueden ser recabados en distintas
    situaciones, por ejemplo al llenar el formulario de contacto en nuestro sitio web
    https://concepthaus.mx/<br><br>
    Los datos personales son proporcionados bajo el consentimiento tácito, expreso o
    expreso y por escrito de forma voluntaria y directa según las finalidades específicas
    e informadas, dichos datos son los que se describen a continuación: </span>
  <br><br>
  <span class="title-aviso">DATOS PERSONALES QUE RECABAMOS CUANDO VISITA NUESTRO SITIO
    DE INTERNET O UTILIZA NUESTROS SERVICIOS EN LÍNEA:</span><br><br>

  <span class="text-aviso">Sus datos pueden ser recabados en diferentes situaciones, por ejemplo, cuando
    decide proporcionarnos su curriculum vitae, o simplemente sea para recibir
    información sobre los servicios que brindamos, así como aquellos que nos
    proporcione con miras al establecimiento de una relación comercial, por ejemplo,
    cuando decide contratar nuestros servicios o prestarnos algún servicio. Los datos
    personales que podemos recabar pertenecen a las siguientes categorías:
  </span>

  <ul class="list_aviso">

    <li type="disc"><span class="bold-text">Datos de contacto:</span> Nombre, apellidos, dirección de correo
      electrónico
      (e-mail), número de teléfono fijo o celular, nombre de la empresa (en su
      caso) y mensaje de contacto.
    </li>
    <li type="disc"><span class="bold-text">Datos de identificación:</span> Nombre, apellidos, domicilio
      particular, fecha
      de nacimiento, número de teléfono fijo y/o móvil, dirección de correo
      electrónico, fotografía, CURP, NSS.
    </li>
    <li type="disc"><span class="bold-text">Datos académicos:</span> Trayectoria educativa, título
      universitario, número de
      cédula profesional, posgrado y/o especialidad, certificados y diplomas. </li>

    <li type="disc"><span class="bold-text">Datos laborales:</span> Puesto(s) desempeñado(s), domicilio laboral
      actual o
      pasado, dirección de correo electrónico y número de teléfono fijo o móvil.</li>

    <li type="disc"><span class="bold-text">Datos de facturación:</span> Clave interbancaria, entidad bancaria a
      la que se
      hará el cargo, domicilio fiscal y RFC.</li>

    <li type="disc"><span class="bold-text">Datos financieros:</span> Clave ínter bancaria, forma de pago.</li>

  </ul>

  <span class="text-aviso">Garantizando un tratamiento exclusivo dentro del país, directamente a través de
    <span class="bold-text">"CONCEPT HAUS"</span>, quien podrá transferir sus datos personales a sus clientes,
    subsidiarias, afiliadas o relacionadas. Sus datos personales serán tratados
    únicamente por el tiempo necesario a fin de cumplir con las finalidades descritas por
    la actividad y/o de conformidad con lo que establezcan las disposiciones legales
    aplicables.<br><br>
    <span class="bold-text">"CONCEPT HAUS"</span>, es una empresa comprometida con el respeto a la privacidad y
    al interés superior del menor, por lo que adoptamos como medida para establecer
    estándares para la protección adecuada de los datos personales de niñas, niños y
    adolescentes el Código de Buenas Prácticas para Orientar el Tratamiento en Línea
    de Datos Personales de Niñas, Niños y Adolescentes, donde se observa lo previsto
    en el artículo 4, párrafo noveno de la Constitución Política de los Estados Unidos
    Mexicanos (CPEUM), la Ley General de los Derechos de Niñas, Niños y
    Adolescentes (LGDNNA), en dónde se regula lo propio respecto del interés superior
    de la niñez a nivel nacional.<br><br>
    Privilegiando la seguridad de los menores, en <span class="bold-text">"CONCEPT HAUS"</span> no recabamos
    intencionalmente ni tratamos datos personales de menores e incapaces cuando no
    se cuenta con el consentimiento expreso de sus padres, tutores o representantes
    legales. Si usted es padre, tutor o representante legal de un menor o incapaz y sabe
    que nos ha proporcionado datos personales sin su consentimiento, podrá solicitar
    que los mismos sean cancelados poniéndose en contacto con nuestra área de
    Protección de Datos Personales, ubicada en Campos Elíseos 219, Interior 4,
    Colonia Polanco, Sección IV, Delegación Miguel Hidalgo, C. P. 11550, CDMX y con
    los siguientes datos de contacto: Teléfono de la oficina: 55-52-82-07-07 o bien, a
    través de nuestro correo electrónico: privacidad&#64;concepthaus.mx, indicando como
    asunto “Protección de Datos Personales” y con gusto nos pondremos en contacto
    con usted.<br><br>
    <span class="bold-text">"CONCEPT HAUS"</span>, NO RECABA DATOS DE CARÁCTER SENSIBLE, sólo recaba
    aquellos datos que son necesarios para la relación jurídica o de subordinación.
  </span><br><br>
  <span class="title-aviso">FINALIDADES DEL TRATAMIENTO Y/O RESGUARDO.</span><br><br>
  <span class="text-aviso">Los datos personales que recabe <span class="bold-text">"CONCEPT HAUS"</span>, se
    administrarán y se tratarán
    conforme a la gestión general, y de manera específica de acuerdo a la relación
    jurídica establecida entre <span class="bold-text">"CONCEPT HAUS"</span> y sus clientes, encargados y
    terceros,
    según el objetivo determinado por las partes, y tendrá como finalidades para su
    tratamiento las siguientes: (I) Establecer contacto con aquellas personas que así
    nos lo hayan solicitado; (II) Efectuar cotizaciones sobre servicios solicitados; (III)
    Responder a una solicitud o información para la prestación de servicios; (IV) Dar
    contestación a solicitudes de empleo; (V) Dar trámite y seguimiento a los servicios
    que se hayan contratado con <span class="bold-text">"CONCEPT HAUS"</span> (VI) Mantener actualizada la
    relación que exista entre usted y <span class="bold-text">"CONCEPT HAUS"</span> (VII) Realizar labores de
    facturación, aclaraciones y seguimiento de pago y cobro (VIII) Suscripción de
    contratos de prestación de servicios (IX) Alta de proveedores. (X) El envío de
    notificaciones con respecto a cambios en este Aviso de Privacidad. (XI) Para iniciar
    el servicio que se haya contratado.
    Como titular de los datos personales recabados y/o tratados por “CONCEPT HAUS”
    usted debe saber que en el momento en que deseé puede manifestar su negativa,
    para que sus datos sean tratados de acuerdo con las finalidades señaladas,
    enviándonos un correo electrónico al área de Protección de Datos Personales:
    privacidad&#64;concepthaus.mx
    También, puede limitar el uso o divulgación de sus Datos Personales para dejar de
    recibir mensajes publicitarios o promocionales, registrando su número telefónico en
    el “Registro Público Para Evitar Publicidad” de la Procuraduría Federal del
    Consumidor; para mayor información al respecto, visite la página de internet
    <a class="ref-list-aviso" href="http://www.profeco.gob.mx" target="_blank">www.profeco.gob.mx</a></span>
  <br><br>
  <span class="title-aviso">TRANSFERENCIAS</span><br><br>
  <span class="text-aviso">En <span class="bold-text">"CONCEPT HAUS"</span> nos abstendremos de vender, arrendar
    o alquilar sus datos
    personales; podremos llegar a compartir sus datos personales con los siguientes
    encargados y/o terceros:</span>

  <ul class="list_aviso">

    <li type="disc">Con las empresas que nos apoyen en las actividades de promoción de
      nuestros productos, en caso de que haya consentido el tratamiento de sus
      datos personales con dichas finalidades secundarias
    </li>
    <li type="disc">Su información puede ser compartida con Instituciones financieras, bancarias
      o crediticias, para fines de evaluación del riesgo de fraude de las
      transacciones.
    </li>
    <li type="disc">Con las autoridades federales y locales, en cumplimiento a las obligaciones
      contempladas en la legislación aplicable y/o en cumplimiento a
      requerimientos por parte de estos.</li>



  </ul>

  <span class="text-aviso">A todo tercero nacional o extranjero a quien se realice la transferencia de datos
    señalada, se le comunicará el presente Aviso de Privacidad y las finalidades a las
    que el titular sujetó su tratamiento, asumiendo las obligaciones que correspondan
    al responsable que transfirió los datos.<br><br>
    Sus datos personales no serán transferidos a terceros sin su consentimiento, salvo
    lo dispuesto por el artículo 37 de la Ley Federal de Protección de Datos Personales
    en Posesión de Particulares</span><br><br>

  <span class="title-aviso">MEDIDAS DE SEGURIDAD Y CONTROL PARA LA PROTECCIÓN DE DATOS
    PERSONALES</span><br><br>

  <span class="text-aviso"><span class="bold-text">"CONCEPT HAUS"</span> implementa medidas de seguridad
    administrativas, técnicas y
    físicas para proteger sus datos personales, mismas que igualmente exigimos sean
    cumplidas por los proveedores de servicios que contratamos.
    La dirección de <span class="bold-text">"CONCEPT HAUS"</span>, entendiendo la importancia de una adecuada
    gestión de la información, se ha comprometido con la implementación de un Sistema
    de Gestión de Seguridad de Datos Personales buscando establecer un marco de
    confianza con nuestros usuarios, clientes, encargados y terceros en el ejercicio de
    sus deberes, todo enmarcado en el estricto cumplimiento de las leyes y en
    concordancia con la misión y visión de la entidad.
    Si deseas conocer más sobre nuestra política de seguridad y privacidad de la
    información da clic en la siguiente liga: <a class="ref-list-aviso"
      href="https://concepthaus.mx/politica-deseguridad-y-privacidad"
      target="_blank">https://concepthaus.mx/politica-deseguridad-y-privacidad</a></span><br><br>
  <span class="title-aviso">TECNOLOGÍAS DE SEGUIMIENTO</span><br><br>

  <span class="text-aviso">Cuando usted navega en nuestro sitio web se recaba cierta información no personal
    por medio de "cookies" y de los "registros del servidor" o "web beacons". La
    obtención de esta información se da por el simple uso e interacción con nuestro sitio
    de Internet y la información que se recaba puede consistir en direcciones de
    Protocolo de Internet, su sistema operativo, tipo de navegador, información sobre
    su ubicación (proporcionada por dispositivos móviles) y la ruta que usted sigue
    durante el tiempo que pasa en nuestro sitio.
    Estos datos se recaban únicamente con los siguientes propósitos: generar
    estadísticas relativas a las visitas a nuestro sitio web, el tiempo que pasa en el
    mismo, y los sitios de referencia que puedan haberle traído al nuestro. Esta
    información también se utiliza para mantener y actualizar los perfiles de los usuarios
    y para adecuar o personalizar la información que se proporciona por este medio.
    Es posible deshabilitar estas tecnologías de seguimiento en todo tipo de
    buscadores; sin embargo, para ejemplificar se señalan a continuación los pasos que
    hay que seguir para deshabilitarlas en Google Chrome: Ir al menú "Herramientas";
    dar clic en "borrar datos de navegación", seleccionar la opción "eliminar cookies y
    otros datos de sitios y de complementos", dar clic en "aceptar". Al deshabilitar o
    bloquear estos mecanismos se puede ocasionar que nuestro sitio no funcione
    correctamente. Para saber más sobre el tema, consulte:
    <a class="ref-list-aviso" href="http://www.allaboutcookies.org/es/"
      target="_blank">http://www.allaboutcookies.org/es/.</a></span><br><br>

  <span class="title-aviso">DE LA VIDEO VIGILANCIA Y LAS CÁMARAS DE SEGURIDAD.</span><br><br>

  <span class="text-aviso">Como medida adicional <span class="bold-text">"CONCEPT HAUS"</span> cuenta con
    sistema de Circuito Cerrado
    de Televisión (CCTV) Las imágenes y sonidos captados por las cámaras de video
    vigilancia son confidenciales sólo se utilizan para garantizar la seguridad de
    nuestras instalaciones, de nuestros visitantes y como evidencia en lo concerniente
    a las investigaciones que resulten pertinentes. Dichas grabaciones se mantienen
    por el periodo establecido legalmente.</span><br><br>

  <span class="title-aviso">DERECHOS CON RESPECTO A SUS DATOS PERSONALES</span><br><br>

  <span class="text-aviso">Para su fácil referencia, se describen brevemente los derechos ARCO:<br><br>
    <span class="bold-text">Acceso:</span> Qué se le informe cuáles de sus datos personales están contenidos en
    las
    bases de datos de <span class="bold-text">"CONCEPT HAUS"</span> para qué se utilizan dichos datos
    personales,
    el origen y las comunicaciones que se hayan realizado con los mismos y, en general,
    las condiciones del tratamiento de dichos datos.<br><br>
    <span class="bold-text">Rectificación:</span> Que se corrijan o actualicen sus datos personales en caso de
    que
    sean inexactos o incompletos.<br><br>
    <span class="bold-text">Cancelación:</span> El derecho que el titular tiene, en todo momento a solicitar a
    <span class="bold-text">"CONCEPT HAUS"</span> la cancelación (eliminación) de sus datos personales.<br><br>
    Oposición: Oponerse por causa legítima al tratamiento de sus datos personales.
  </span><br><br>

  <span class="title-aviso">¿CÓMO PUEDE USTED EJERCER SUS DERECHOS ARCO Y REVOCAR EL
    CONSENTIMIENTO OTORGADO?</span><br><br>

  <span class="text-aviso">
    <span class="bold-text">Como titular de datos personales, usted podrá ejercer los
      Derechos ARCO
      (Acceso, Rectificación, Cancelación y Oposición al tratamiento de sus datos
      personales)
    </span>, o bien,
    <span class="bold-text"> revocar el consentimiento que usted haya otorgado
      a "CONCEPT HAUS", para el tratamiento de sus datos personales
    </span>, poniéndose en
    contacto con nuestra área de Protección de Datos Personales ubicada en Campos
    Elíseos 219, Interior 4, Colonia Polanco, Sección IV, Delegación Miguel Hidalgo, C.
    P. 11550, CDMX y con los siguientes datos de contacto: Teléfono de la oficina: 55-
    52-82-07-07 o a través de nuestro correo electrónico: privacidad&#64;concepthaus.mx,
    indicando en asunto
    <span class="bold-text">"Solicitud de protección de datos"</span>. Dicha solicitud
    deberá
    contener por lo menos: (I) Nombre y domicilio u otro medio para comunicarle la
    respuesta a su solicitud; (II) Los documentos que acrediten su identidad o, en su
    caso, la representación legal; (III) La descripción clara y precisa de los datos
    personales respecto de los que se solicita ejercer alguno de los Derechos ARCO,
    (IV) La manifestación expresa para revocar su consentimiento al tratamiento de sus
    datos personales y por tanto, para que no se usen; y (V) Cualquier otro elemento
    que facilite la localización de los datos personales.<br><br>
    Una vez presentada su solicitud en el formato preestablecido, <span class="bold-text">"CONCEPT HAUS"</span>
    comunicará en un plazo no mayor a 20 días hábiles, contados a partir de la fecha
    en que se recibió dicha solicitud, la respuesta de la misma. En caso de requerir
    mayor información y/o documentación necesaria, el área de “Protección de Datos
    Personales” se pondrá en contacto con usted en un plazo de 5 días hábiles contados
    desde la fecha de recepción de su solicitud, por lo que usted contará con 10 días
    hábiles posteriores a dicha comunicación, para atender este requerimiento. De lo
    contrario su solicitud se tendrá por no presentada.<br><br>
    Los términos y plazos indicados en los párrafos anteriores podrán ser ampliados
    una sola vez en caso de ser necesario y se le deberá notificar a través de los medios
    de contacto que haya establecido, señalando las razones de dicha ampliación, de
    conformidad con el artículo 32 de la Ley Federal de Protección de Datos Personales
    en Posesión de los Particulares.<br><br>
    La Revocación de los <span class="bold-text">Derechos ARCO</span> serán gratuitos, así como la reproducción
    en copia simple o envió por correo electrónico.
  </span><br><br>
  <span class="title-aviso">¿RAZONES PARA NEGAR EL ACCESO, RECTIFICACIÒN, CANCELACIÓN Y
    OPOSICIÓN AL TRATAMIENTO DE LOS DATOS PERSONALES POR USTED
    PROPORCIONADOS.</span><br><br>

  <span class="text-aviso">En todo momento el titular o su representante legal podrán ejercer cualquiera de
    sus derechos de <span class="bold-text">Acceso, Rectificación, Cancelación y Oposición (Derechos
      ARCO) y/o revocación de su consentimiento</span>, de conformidad con lo previsto en
    la LFPDPPP.<br><br>
    <span class="bold-text">"CONCEPT HAUS"</span> podrá negarle (I) El acceso a los datos personales, (II) A
    realizar
    la rectificación de los mismos, (III) A cancelarlos o (IV) La oposición de los mismos
    en los siguientes casos:</span>

  <ul class="list_aviso">

    <li type="disc">Cuando usted no sea el titular de los datos personales que se encuentra
      solicitando.
    </li>
    <li type="disc">Cuando los datos personales por usted solicitados no se encuentren en
      nuestras bases de datos.
    </li>
    <li type="disc">Cuando se pudieran afectar derechos de un tercero.</li>

    <li type="disc">Cuando exista un impedimento legal o resolución de una autoridad en dicho
      sentido, y</li>

    <li type="disc">En cualquiera de los casos antes señalados </li>



  </ul>



  <span class="text-aviso"><span class="bold-text">"CONCEPT HAUS"</span> tendrá un plazo no
    mayor a 20 días para informarle la razón de su negativa.
    <span class="bold-text">"CONCEPT HAUS"</span> manifiesta que cumple los deberes de seguridad y
    confidencialidad a que se refieren los artículos 19 y 21 de la Ley de Protección de
    Datos Personales en Posesión de los Particulares, a través de su Sistema de
    Gestión de Seguridad de Datos Personales establecidos en su Política de Seguridad
    y Privacidad de la Información. Y que en los casos en los que “CONCEPT HAUS” no
    haya obtenido los datos directamente del titular, se entiende que el titular consiente
    tácitamente el tratamiento de sus datos, cuando el titular no manifieste su oposición
    a lo dispuesto en este Aviso, en conformidad con el artículo 8 de la Ley de
    Protección de Datos Personales en Posesión de los Particulares.<br><br>
    Por último, <span class="bold-text">"CONCEPT HAUS"</span> guarda estricta confidencialidad de los datos
    personales aún después de finalizar sus relaciones contractuales con sus clientes.</span><br><br>

  <span class="text-aviso">SOBRE LA DIVULGACIÓN DEL PRESENTE AVISO DE PRIVACIDAD</span><br><br>

  <span class="text-aviso">Los medios de difusión para este aviso podrán ser en formatos físicos y electrónicos
    tales como los que a continuación se describen:</span>


  <ul class="list_aviso">

    <li type="disc">Forma impresa y electrónica.
    </li>
    <li type="disc">Portal <a class="ref-list-aviso" href="http://www.allaboutcookies.org/es/"
        target="_blank">/aviso</a>
    </li>

  </ul>

  <span class="text-aviso">Y también se podrá utilizar cualquier otra tecnología o medio disponible, siempre
    que este garantice mantener informado al titular.
    <span class="bold-text">"CONCEPT HAUS"</span> se reserva el derecho de efectuar modificaciones o
    actualizaciones al presente Aviso de Privacidad cuando sea necesario llevar a cabo
    alguna transferencia de información, novedades, actualizaciones legislativas,
    políticas internas o nuevos requerimientos, se publicará o actualizará el presente
    Aviso de Privacidad, por lo cual se le solicita al TITULAR que consulte de manera
    frecuente y a fin de mantenerse informado el sitio <a class="ref-list-aviso" href="https://concepthaus.mx/"
      target="_blank">https://concepthaus.mx/</a> sección
    aviso de privacidad con la finalidad de mantenerse actualizado y al tanto de los
    términos y condiciones vigentes, así como en caso de que el titular no desee que
    sus datos sean transferidos o sea su deseo hacer uso de sus derechos ARCO
    deberá de notificarlo a la dirección de correo electrónico o bien solicitándolo en
    nuestra área de Protección de Datos Personales ubicada en Campos Elíseos 219,
    Interior 4, Colonia Polanco, Sección IV, Delegación Miguel Hidalgo, C. P. 11550,
    CDMX y con los siguientes datos de contacto: teléfono de oficina: 55-52-82-07-07
    o a través de nuestro correo electrónico: privacidad&#64;concepthaus.mx, indicando en
    asunto <span class="bold-text">"Solicitud de Protección de Datos".</span></span><br><br>

  <span class="title-aviso">DEFINICIONES.</span><br><br>

  <span class="text-aviso">A continuación <span class="bold-text">"CONCEPT HAUS"</span> pone a su alcance un
    breve glosario con algunos
    de los términos aquí utilizados, a fin de garantizar la completa comprensión del
    Aviso de Privacidad que ha puesto a su disposición. Lo anterior sin perjuicio de las
    definiciones previstas en los artículos 3 de la Ley Federal de Protección de&thinsp;Datos
    Personales en Posesión de los Particulares y de su Reglamento.</span>

  <span class="text-aviso-dos"><span class="bold-text">Cookies:</span> Son los archivos de texto que se
    descargan automáticamente y se
    almacenan en el disco duro del equipo de cómputo del usuario al navegar en
    una página o portal de Internet específico, que permiten almacenar al servidor
    de Internet ciertos datos, entre ellos, páginas preferidas de visualización en
    Internet, algunas claves y contraseñas.<br><br>
    <span class="bold-text">Web beacons:</span> Imágenes insertadas en páginas o portales de Internet, así como
    en correos electrónicos y que entre otros pueden almacenar información de la
    dirección IP del usuario, tiempo de interacción en los sitios web, entre otros.<br><br>
    <span class="bold-text">Días:</span> Por disposición del artículo 3° en su fracción VII de la Ley Federal de
    Protección de Datos Personales en Posesión de los Particulares, los plazos y
    tiempos estipulados en días, se contarán en días hábiles.<br><br>
    <span class="bold-text">Derechos ARCO:</span> Son los Derechos de Acceso, Rectificación, Cancelación y
    Oposición, consagrados en la legislación que por sus siglas forman dicha
    palabra.<br><br>
    <span class="bold-text">LFPDPPP:</span> Hace referencia a la Ley Federal de Protección de Datos Personales
    en Posesión de los Particulares, publicada en el Diario Oficial de la Federación
    el 5 de julio de 2010.<br><br>
    <span class="bold-text">Reglamento:</span> Hace referencia al Reglamento de la Ley Federal de Protección
    de Datos Personales en Posesión de los Particulares, publicado en el Diario
    Oficial de la Federación el 21 de diciembre de 2011.<br><br>
    <span class="bold-text">Transferencia:</span> Toda comunicación de datos personales dentro o fuera del
    territorio mexicano, realizada a persona distinta del titular, del responsable o del
    encargado.<br><br>
    <span class="bold-text">Listado de exclusión:</span> Es una base de datos que tiene por objeto registrar, de
    manera gratuita, a aquellos titulares que no quieran que su información sea
    tratada por el responsable para ciertas finalidades, con el objeto de que se eviten
    dichos tratamientos.</span>
  <br><br>

  <span class="text-aviso">Para consultar más información relacionada al Aviso de Privacidad lo invitamos a
    visitar la siguiente liga informativa que el Instituto Nacional de Transparencia,
    Acceso a la Información y Protección de Datos Personales (INAI) pone a su
    disposición: <a class="ref-list-aviso" href="https://concepthaus.mx/"
      target="_blank">http://abcavisosprivacidad.ifai.org.mx</a></span><br><br>

  <span class="bold-text">"CONCEPT HAUS CREATIVE AGENCY S.C" ÚLTIMA ACTUALIZACIÓN ENERO DE 2021.</span><br>

</span>
