.thank-you-container{
      background-color: #e43c2f;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 15vw;
    display: inline-block;
    position: relative;
    img{
          width: 12vw;
    left: calc(50% - 6vw);
    position: relative;
    margin-top: 3vw;

    }
    .thakstitleone-header{
       display: inline-block;
    position: absolute;
    left: 0vw;
    top: 8vw;
    text-align: center;
    font-size: 2.5vw;
    line-height: 2.7vw;
    width: 100%;
    color: white;
    }
}

.thank-you-container-body{
       background-color: white;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    width: 100%;
    height: 40vw;
    display: inline-block;
    position: relative;
    img{
        width: 100%;
    height: 40vw;
    }
    .contacto-thank-you{
          width: 6vw;
    height: 9vw;
    position: absolute;
    /* z-index: 999; */
    left: 46.5vw;
    top: 6vw;
    display: inline-block;
    }

    .thakstitleone{
        display: inline-block;
    position: absolute;
    left: 0vw;
    top: 17vw;
    text-align: center;
    font-size: 1.5vw;
    line-height: 1.6vw;
    width: 100%;
    }
    .thakstitleone2{
        display: inline-block;
    position: absolute;
    left: 0vw;
    top: 22vw;
    text-align: center;
    font-size: 1.5vw;
    line-height: 1.6vw;
    width: 100%;
    }
    .thakstitleone3{
        display: inline-block;
    position: absolute;
    left: 0vw;
    top: 28vw;
    text-align: center;
    font-size: 1.5vw;
    line-height: 1.6vw;
    width: 100%;
    }
    .container-redes-thank-you{
        position: absolute;
    display: inline-block;
    width: 100%;
    left: 0vw;
    top: 32vw;
    align-items: center;
    align-content: center;
    text-align: center;
    img{
      width: 2vw;
      height: 2vw;
      margin-right: 1vw;
    }
    }
}

.thank-you-container-footer{
   background-color: #003333;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 8vw;
}



@media (max-width: 768px) {
  .thank-you-container{
       background-color: #e43c2f;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 59vw;
    display: inline-block;
    position: relative;
    top: -14vw;
    img{
        width: 36vw;
    left: calc(50% - 18vw);
    position: relative;
    margin-top: 18vw;

    }
    .thakstitleone-header{
       display: inline-block;
    position: absolute;
    left: 0vw;
    top: 37vw;
    text-align: center;
    font-size: 6vw;
    line-height: 6.7vw;
    width: 100%;
    color: white;
    letter-spacing: 0.3vw;
    }
}

.thank-you-container-body{
        background-color: white;
    width: 100%;
    height: 99vw;
    display: inline-block;
    position: relative;
    img{
        width: 100%;
    height: 99vw;
    }
    .contacto-thank-you{
       width: 17vw;
    height: 25vw;
    position: absolute;
    left: 41.5vw;
    top: -8vw;
    display: inline-block;
    }

    .thakstitleone{
        display: inline-block;
    position: absolute;
    left: 19vw;
    top: 30vw;
    text-align: center;
    font-size: 3.5vw;
    line-height: 4.1vw;
    width: 60%;
    }
    .thakstitleone2{
        display: inline-block;
    position: absolute;
    left: 17vw;
    top: 43vw;
    text-align: center;
    font-size: 3.5vw;
    line-height: 4vw;
    width: 66%;
    }
    .thakstitleone3{
        display: inline-block;
    position: absolute;
    left: 20vw;
    top: 59vw;
    text-align: center;
    font-size: 3.5vw;
    line-height: 4.6vw;
    width: 60%;
    }
    .container-redes-thank-you{
       position: absolute;
    display: inline-block;
    width: 100%;
    left: 0vw;
    top: 72vw;
    align-items: center;
    align-content: center;
    text-align: center;
    img{
          width: 6vw;
    height: 6vw;
    margin-right: 3vw;
    }
    }
}

.thank-you-container-footer{
     background-color: #003333;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 36vw;
}

}
