@if(activeSpinner){
<div class="content-spiner">
  <div class="spinner-border text-danger spin-style" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
}

<header>
  <!-- Header versión móvil -->
  <div class="mobile-header d-lg-none">
    <div class="container">
      <div class="header-content">
        <!-- Logo móvil -->
        @if(!isactive){
        <div class="logo-mobile">
          <a href="/index.html">
            <img src="./img/logoch.png" alt="CH Logo" />
          </a>
        </div>
        }

        <!-- Botón hamburguesa -->
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarMobile"
          aria-controls="navbarMobile" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
          <div class="hamburger-lines">
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
          </div>
        </button>
      </div>
    </div>

    <!-- Menú desplegable móvil -->
    @if(isactive){
    <div class="collapse navbar-collapse" id="navbarMobile">
      <img style="    width: 39vw; position: relative;left: 28vw;" src="/img/logoch.png" alt="ConceptHaus Logo"
        class=" d-lg-block" />
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/about-us">{{datach?.menus?.title1}}</a></li>
        <li class="nav-item"><a class="nav-link" href="#featured-work">{{datach?.menus?.title2}}</a></li>
        <li class="nav-item"><a class="nav-link" href="#Services">{{datach?.menus?.title3}}</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">{{datach?.menus?.title4}}</a></li>
        <li class="nav-item" style="display: inline-flex;">
          <span style="cursor: pointer; width: 41vw;" class="nav-link" (click)="getEsp()"
            [ngClass]="lenguaje === 'ESP' ? 'active-ch' : 'noactive'">ESP</span>
          <div style="    width: 10px; border-right: solid 1px;"></div>
          <span style="cursor: pointer; width: 11vw;" class="nav-link" (click)="getEng()"
            [ngClass]="lenguaje === 'ENG' ? 'active-ch' : 'noactive'">ENG</span>
        </li>

      </ul>
    </div>
    }

  </div>

  <!-- Header versión desktop (mantener el existente) -->
  <div class="desktop-header ">
    <div class="container">
      <div class="header-content">
        <!-- Logo desktop -->
        <div class="logo">
          <a href="/">
            <img src="/img/logoch.png" alt="ConceptHaus Logo" class=" d-lg-block" />
          </a>
        </div>

        <!-- Menú desktop -->
        <nav class="navbar navbar-expand-lg">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/about-us">{{datach?.menus?.title1}}</a></li>
            <li class="nav-item"><a class="nav-link" href="#featured-work">{{datach?.menus?.title2}}</a></li>
            <li class="nav-item"><a class="nav-link" href="#Services">{{datach?.menus?.title3}}</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact">{{datach?.menus?.title4}}</a>
            </li>
            <li class="nav-item lenguage esp"><span style="    cursor: pointer;" class="nav-link" (click)="getEsp()"
                [ngClass]="lenguaje === 'ESP' ? 'active-ch' : 'noactive'">ESP</span>
            </li>
            <li class="nav-item lenguage eng"><span style="    cursor: pointer;" class="nav-link" (click)="getEng()"
                [ngClass]="lenguaje === 'ENG' ? 'active-ch' : 'noactive'">ENG</span>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>


<!-- Sección de Video Reel -->
<section id="video-reel" class="video-reel d-flex justify-content-center align-items-center p-3">
  <div class="video-container position-relative w-100">
    <!-- Video para desktop -->
    <video autoplay loop muted playsinline class="background-video d-none d-lg-block">
      <source src="./movies/banner.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>

    <!-- Video para móvil -->
    <video autoplay loop muted playsinline class="background-video d-lg-none"
      style="width: 100%; height: 100%; object-fit: cover;">
      <source src="./movies/banner-movil_ch.mp4" type="video/mp4" />
      Tu navegador no soporta la etiqueta de video.
    </video>
  </div>
</section>

<!-- Sección de Íconos Flotantes -->
<section class="floating-icons">
  <a href="https://api.whatsapp.com/send?phone=5512486486" target="_blank" class="icon-link whatsapp-icon">
    <i class="fab fa-whatsapp icon-img"></i>
  </a>
  <a href="#video-reel" class="icon-link arrow-icon">
    <img src="./img/flecharriba.png" alt="">
  </a>
</section>

<!-- Sección About Us -->
<section id="about-us" class="about-section d-flex align-items-center">
  <div class="container">
    <div class="about-content">
      <h2 class="text-white">
        {{datach?.section1?.title}} <br />
      </h2>
      <a href="/about-us" class="custom-btn">{{datach?.section1?.button}}</a>
    </div>
  </div>
</section>


<!-- Slider Section -->
<section id="featured-work" class="slider-section carouselCientesControls">
  <!-- Header que contiene título y flechas -->
  <div class="slider-header-logos-text">
    <img class="img-logos" src="img/logosch.png" alt="">
    <span class="title2">{{datach?.section1?.title2}}</span>
    <span class="title2">{{datach?.section1?.title3}}</span>
  </div>
  <img src="img/Contacto.png" alt="" class="img-contacto">
  <span class="text-slider">{{datach?.section2?.title}}</span>

  <div id="carouselCientesControls" class="carousel slide " >
    <div class="carousel-inner">
      @for (data of datach?.section2?.carouselClientes; track $index) {
      @if (data.status === true) {
      <div class="carousel-item active clientes">
        <video #videoEl class="desktop" [src]="data.src"
        [attr.alt]="data.alt"
        [muted]="true"
        autoplay
        loop
        playsinline></video>
        <video #videoEl class="movil" [src]="data.srcMovil"
        [attr.alt]="data.alt"
        [muted]="true"
        autoplay
        loop
        playsinline></video>
        <span class="text-branding">{{ data.title }}</span>
      </div>
      } @else {
      <div class="carousel-item clientes">
        <video #videoEl class="desktop" [src]="data.src"
        [attr.alt]="data.alt"
        [muted]="true"
        autoplay
        loop
        playsinline></video>
        <video #videoEl class="movil" [src]="data.srcMovil"
        [attr.alt]="data.alt"
        [muted]="true"
        autoplay
        loop
        playsinline></video>
        <span class="text-branding">{{ data.title }}</span>
      </div>
      }
      }
    </div>
  </div>
  <button class="carousel-control-prev style-carousel-ch-pre" type="button" data-bs-target="#carouselCientesControls"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next style-carousel-ch-next" type="button" data-bs-target="#carouselCientesControls"
    data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</section>

<!-- Sección del Carrusel de Clientes -->
<section class="clients-carousel-section">


  <!-- Contenedor del carrusel con fondo verde -->


  <div class="swiper logos-swiper">
    <div class="swiper-wrapper">
      @for (item of listLogos; track $index) {
      <div class="swiper-slide">
        <img [src]="item" [alt]="item" />
      </div>
      }

    </div>

  </div>




</section>

<!-- Sección de Testimonios -->
<section class="testimonials-section desktop">
  <div class="testimonials-header">
    <span class="testimonials-title">{{datach?.section3?.title}}</span>

  </div>

  <div id="carouselTestimonialsControls" class="carousel slide" >
    <div class="carousel-inner ">
      @for (data of datach?.section3?.testimonials; track $index) {
      @if (data.status === true) {
      <div class="carousel-item active clientes">
        <div class="testimonials-carousel-container">
          <div class="testimonials-carousel">
            @for (data1 of data.testimonial3; track $index) {
            <div class="testimonial-card">
              <p class="quote">{{data1.quote}}</p>
              <p class="description">{{data1.description}}</p>
              <div class="author-container">
                <p class="author">{{data1.author}}</p>
                <p class="position">{{data1.position}}</p>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
      } @else {
      <div class="carousel-item  clientes">
        <div class="testimonials-carousel-container">
          <div class="testimonials-carousel">
            @for (data1 of data.testimonial3; track $index) {
            <div class="testimonial-card">
              <p class="quote">{{data1.quote}}</p>
              <p class="description">{{data1.description}}</p>
              <div class="author-container">
                <p class="author">{{data1.author}}</p>
                <p class="position">{{data1.position}}</p>
              </div>
            </div>
            }
            @if(data.testimonial3.length == 2) {
              <div class="testimonial-card" style="visibility: hidden;">

              </div>
            }
          </div>
        </div>
      </div>
      }
      }
    </div>
  </div>
  <button class="carousel-control-prev style-carousel-ch-pre" type="button"
    data-bs-target="#carouselTestimonialsControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next style-carousel-ch-next" type="button"
    data-bs-target="#carouselTestimonialsControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</section>

<!-- Sección de Testimonios -->
<section class="testimonials-section movil">
  <div class="testimonials-header">
    <span class="testimonials-title">{{datach?.section3?.title}}</span>

  </div>

  <div id="carouselTestimonialsMovilControls" class="carousel slide" >
    <div class="carousel-inner ">
      @for (data of datach?.section3?.testimonials; track $index) {
      @if (data.status === true) {
      @for (data1 of data.testimonial3; track $index) {
      @if (data1.status === true) {
      <div class="carousel-item active clientes">
        <div class="testimonials-carousel-container">
          <div class="testimonials-carousel">
            <div class="testimonial-card">
              <p class="quote">{{data1.quote}}</p>
              <p class="description">{{data1.description}}</p>
              <div class="author-container">
                <p class="author">{{data1.author}}</p>
                <p class="position">{{data1.position}}</p>
              </div>
            </div>

          </div>
        </div>
      </div>
      }@else {
      <div class="carousel-item  clientes">
        <div class="testimonials-carousel-container">
          <div class="testimonials-carousel">
            <div class="testimonial-card">
              <p class="quote">{{data1.quote}}</p>
              <p class="description">{{data1.description}}</p>
              <div class="author-container">
                <p class="author">{{data1.author}}</p>
                <p class="position">{{data1.position}}</p>
              </div>
            </div>

          </div>
        </div>
      </div>
      }
      }
      } @else {
      @for (data1 of data.testimonial3; track $index) {
      @if (data1.status === true) {
      <div class="carousel-item active clientes">
        <div class="testimonials-carousel-container">
          <div class="testimonials-carousel">
            <div class="testimonial-card">
              <p class="quote">{{data1.quote}}</p>
              <p class="description">{{data1.description}}</p>
              <div class="author-container">
                <p class="author">{{data1.author}}</p>
                <p class="position">{{data1.position}}</p>
              </div>
            </div>

          </div>
        </div>
      </div>
      }@else {
      <div class="carousel-item  clientes">
        <div class="testimonials-carousel-container">
          <div class="testimonials-carousel">
            <div class="testimonial-card">
              <p class="quote">{{data1.quote}}</p>
              <p class="description">{{data1.description}}</p>
              <div class="author-container">
                <p class="author">{{data1.author}}</p>
                <p class="position">{{data1.position}}</p>
              </div>
            </div>

          </div>
        </div>
      </div>
      }
      }
      }
      }
    </div>
  </div>
  <button class="carousel-control-prev style-carousel-ch-pre" type="button"
    data-bs-target="#carouselTestimonialsMovilControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next style-carousel-ch-next" type="button"
    data-bs-target="#carouselTestimonialsMovilControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</section>

<img src="./img/Contacto_2.png" alt="" class="img-contacto-2">


<!-- Sección Diagonal con Carrusel -->
<section id="Services" class="diagonal-section">
  <div id="carouselServicesControls" class="carousel slide " >
    <div class="carousel-inner">
      @for (data of datach?.section4?.services; track $index) {
      @if (data.status === true) {
      <div class="carousel-item active clientes">
        <div class="diagonal-content">
          <!-- Contenido de texto alineado a la izquierda -->
          @if (data.title != 'BRANDING1') {
            <div class="video-placeholder">
              <h3 class="slide-title">{{datach?.section4?.title}}</h3>
              <span class="services-title">{{data.title}}</span>
              <span class="services-subtitle">{{data.description}}</span>
            </div>
            <div class="gif-container">
              <video #videoEl [src]="data.img"
        [muted]="true"
        autoplay
        loop
        playsinlin></video>
            </div>
          } @else {
            <div class="video-placeholder-only">
              <h3 class="slide-title">{{datach?.section4?.title}}</h3>
              <span class="services-title">{{data.title}}</span>
              <span class="services-subtitle">{{data.description}}</span>
            </div>
          }
        </div>
      </div>
      } @else {
      <div class="carousel-item clientes">
        <div class="diagonal-content">
          <!-- Contenido de texto alineado a la izquierda -->
          @if (data.title != 'BRANDING1') {
            <div class="video-placeholder">
              <h3 class="slide-title">{{datach?.section4?.title}}</h3>
              <span class="services-title">{{data.title}}</span>
              <span class="services-subtitle">{{data.description}}</span>
            </div>
            <div class="gif-container">
              <video #videoEl [src]="data.img"
        [muted]="true"
        autoplay
        loop
        playsinlin></video>
            </div>
          } @else {
            <div class="video-placeholder-only">
              <h3 class="slide-title">{{datach?.section4?.title}}</h3>
              <span class="services-title">{{data.title}}</span>
              <span class="services-subtitle">{{data.description}}</span>
            </div>
          }
        </div>
      </div>
      }
      }
    </div>
  </div>
  <button class="carousel-control-prev style-carousel-ch-pre" type="button" data-bs-target="#carouselServicesControls"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next style-carousel-ch-next" type="button" data-bs-target="#carouselServicesControls"
    data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>


</section>


<!-- Formulario -->
<section class="contact-section contact-section-home">
  <div class="form-content">
    <h2 class="form-title movil-title-form" style="    margin-top: 11vw;">{{datach?.form?.title}}</h2>
    <div class="form-container form-container-home">
      <img src="./img/door-ch.png" alt="" class="form-image-door">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form contact-form-home">
        <label for="name">{{datach?.form?.name}}</label>
        <input type="text" id="name" formControlName="name" required
          [ngClass]="{'input-error': contactForm.get('name')?.invalid && contactForm.get('name')?.touched}" />

        <label for="email">{{datach?.form?.email}}</label>
        <input type="email" id="email" formControlName="email" required
          [ngClass]="{'input-error': contactForm.get('email')?.invalid && contactForm.get('email')?.touched}" />

        <label for="phone">{{datach?.form?.number}}</label>
        <input type="tel" id="phone" formControlName="phone" required
          [ngClass]="{'input-error': contactForm.get('phone')?.invalid && contactForm.get('phone')?.touched}" />

        <label for="business">{{datach?.form?.business?.title}}</label>
        <select id="business" formControlName="business" required
          [ngClass]="{'input-error': contactForm.get('business')?.invalid && contactForm.get('business')?.touched}">
          @for(options of datach?.form?.business?.options; track $index) {
          <option value="{{options.value}}">{{options.label}}</option>
          }
        </select>

        <label for="help">{{datach?.form?.help?.title}}</label>
        <select id="help" formControlName="help" required
          [ngClass]="{'input-error': contactForm.get('help')?.invalid && contactForm.get('help')?.touched}">
          @for(options of datach?.form?.help?.options; track $index) {
          <option value="{{options.value}}">{{options.label}}</option>
          }
        </select>
        <button type="submit">{{datach?.form?.button}}</button>
      </form>

    </div>
  </div>

</section>




<!-- footer.html -->

<footer class="footer">
  <!-- Versión Desktop -->
  <div class="footer-container">
    <!-- Main content section -->
    <div class="footer-content">
      <!-- Title section with its own container -->
      <div class="footer-header">
        <h1 class="footer-title">
          {{datach?.footer?.title1}} <br />
          <strong>{{datach?.footer?.title2}}</strong>
        </h1>
      </div>

      <!-- Links section with its own container -->
      <div class="footer-info">
        <ul class="footer-links">
          <li>&copy; {{datach?.footer?.text1}}</li>
          <li><a href="/avisolegal">{{datach?.footer?.text2}}</a></li>
          <!--<li>{{datach?.footer?.text3}}</li>-->
        </ul>
      </div>
    </div>

    <div class="footer-right">

      <!-- Social Icons -->
      <div class="social-icons">
        <a href="https://www.linkedin.com/company/concept-haus/" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://www.youtube.com/@inhausfilms2383" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="https://www.instagram.com/concepthausmx/" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.behance.net/concepthausmx" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-behance"></i>
        </a>
      </div>

      <!-- Navigation Links -->
      <nav class="footer-nav">
        <ul>
          <li><a href="/about-us">{{datach?.menus?.title1}}</a></li>
          <li><a href="index.html#featured-work">{{datach?.menus?.title2}}</a></li>
          <li><a href="index.html#Services">{{datach?.menus?.title3}}</a></li>
          <li><a href="/contact">{{datach?.menus?.title4}}</a></li>
        </ul>
      </nav>


    </div>
  </div>

  <!-- Versión Mobile -->
  <div class="footer-container-mobile">
    <div class="footer-left">
      <h1 class="footer-title">
        {{datach?.footer?.title1}} <br />
        <strong>{{datach?.footer?.title2}}</strong>
      </h1>
    </div>

    <div class="social-icons">
      <a href="https://www.linkedin.com/company/concept-haus/" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://www.youtube.com/@inhausfilms2383" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-youtube"></i>
      </a>
      <a href="https://www.instagram.com/concepthausmx/" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.behance.net/concepthausmx" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-behance"></i>
      </a>
    </div>

    <!-- Navigation Links -->
    <nav class="footer-nav">
      <ul>
        <li><a href="/about-us">{{datach?.menus?.title1}}</a></li>
        <li><a href="/#featured-work">{{datach?.menus?.title2}}</a></li>
        <li><a href="/#Services">{{datach?.menus?.title3}}</a></li>
        <li><a href="/contact">{{datach?.menus?.title4}}</a></li>
      </ul>
    </nav>

    <ul class="footer-links">
      <li style="    white-space: break-spaces;
    width: 34vw;">{{datach?.footer?.text1}}</li>
      <li><a href="/avisolegal">{{datach?.footer?.text2}}</a></li>
      <!--<li>{{datach?.footer?.text3}}</li>-->
    </ul>
  </div>
</footer>
