

.input-error {
  border: 2px solid #e43d30 !important;
}

.floating-icons img{
      width: 8vw;
    right: .2vw;
    position: relative;
}

.slider-header-logos-text{
       background-color: #E43D30;
    height: 28vw;
}

.img-contacto{
       width: 8vw;
    left: 46vw;
    position: relative;
    margin-top: 4vw;
    margin-bottom: -2vw;
}

.img-contacto-2{
      width: 15vw;
    position: relative;
    left: 42.5vw;
    top: 0vw;
    margin-bottom: 4vw;
}


.carouselCientesControls{
  .carousel-inner {
       position: relative;
    width: 100%;
    overflow: hidden;
    height: 53vw;
}

  .style-carousel-ch-next{
         width: 2vw;
    height: 3vw;
    position: absolute;
    left: 86vw;
    top: 96.5vw;
    opacity: 1;
      .carousel-control-next-icon {
          background-image: url(/img/SiguienteDerecha.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          width: 2.5vw;
          height: 2.5vw;
         &:hover {
      filter: grayscale(1);
      cursor: pointer;
    }
      }

  }


  .style-carousel-ch-pre{
          width: 2vw;
    height: 3vw;
    position: absolute;
    left: 80vw;
    top: 96.5vw;
    opacity: 1;

      .carousel-control-prev-icon {
        background-image: url(/img/SiguienteIzquierda.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 2.5vw;
          height: 2.5vw;
          &:hover {
      filter: grayscale(1);
      cursor: pointer;
    }
      }


  }
 .clientes{
    video{
          width: 100vw;
    }
  }
}

.testimonials-section{
  .carousel-inner {
       position: relative;
    width: 100%;
    overflow: hidden;
    height: 40vw;
}
  .style-carousel-ch-next{
      width: 2vw;
      height: 3vw;
      position: absolute;
      left: 86vw;
      top: 5vw;
      opacity: 1;
      .carousel-control-next-icon {
          background-image: url(/img/SiguienteDerecha.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          width: 2.5vw;
          height: 2.5vw;
             &:hover {
      filter: grayscale(1);
      cursor: pointer;
    }
      }

  }


  .style-carousel-ch-pre{
      width: 2vw;
      height: 3vw;
      position: absolute;
      left: 80vw;
      top: 5vw;
      opacity: 1;

      .carousel-control-prev-icon {
        background-image: url(/img/SiguienteIzquierda.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 2.5vw;
          height: 2.5vw;
          &:hover {
      filter: grayscale(1);
      cursor: pointer;
    }
      }


  }

}


.gif-container{
       width: 50vw;
    position: absolute;
    left: 50vw;
    top: 0vw;
    display: inline-block;
    video{
      width: 100%;
      height: 40vw;
    }
}


.diagonal-section{
  .carousel-inner {
       position: relative;
    width: 100%;
    overflow: hidden;
    height: 40vw;
}
  .style-carousel-ch-next{
      width: 2vw;
      height: 3vw;
      position: absolute;
      left: 17vw;
      top: 7vw;
      opacity: 1;
      z-index: 99;
      .carousel-control-next-icon {
          background-image: url(/img/SiguienteDerecha.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          width: 2.5vw;
          height: 2.5vw;
             &:hover {
      filter: grayscale(1);
      cursor: pointer;
    }
      }

  }


  .style-carousel-ch-pre{
      width: 2vw;
      height: 3vw;
      position: absolute;
      left: 10vw;
      top: 7vw;
      opacity: 1;
      z-index: 99;

      .carousel-control-prev-icon {
        background-image: url(/img/SiguienteIzquierda.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 2.5vw;
          height: 2.5vw;
          &:hover {
      filter: grayscale(1);
      cursor: pointer;
    }
      }


  }

  .services-title{
        position: absolute;
    left: 10vw;
    top: 18vw;
    font-size: 2.4vw;
    font-weight: 700;
    color: #E43D30;
  }

  .services-subtitle{
       width: 32vw;
    position: absolute;
    left: 10vw;
    top: 23vw;
    font-size: 1.4vw;
    line-height: 1.7vw;
    color: #4A4F54;
  }

}
.title2{
      width: 45vw;
    position: relative;
    display: block;
    font-size: 1.13vw;
    line-height: 1.5vw;
    text-align: center;
    left: 27.5vw;
    margin-bottom: 1vw;
    height: 6vw;
    color: white;
}

.contact-form-home{
        display: flex;
    flex-direction: column;
    width: 40vw;
    padding-right: 0px;
    left: 40vw;
    position: relative;
    top: -37vw;
}

.form-image-door{
       position: relative;
    display: inline-block;
    width: 27vw;
    left: 7vw;
    top: 2vw;
}

.form-container-home{
      width: 100%;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 60px;
    margin-bottom: 10px;
    height: 49vw;
}

@media  (min-width: 768px) {
.logos-swiper {
  width: 100%;
  overflow: hidden;
  background-color: #013232;
  padding: 30px 0;
}

.swiper-slide {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
}

.swiper-slide img {
     height: 8vw;
    opacity: 1;
    transition: transform 0.3s ease;
}

.swiper-slide img:hover {
  transform: scale(1.1);
  opacity: 1;
}
.logos-swiper,
.logos-swiper * {
  pointer-events: none;
}
}


@media (max-width: 768px) {
.swiper-slide img {
        height: 38vw;
    opacity: 1;
    transition: transform 0.3s ease;
}
  .slider-header-logos-text{
       background-color: #E43D30;
    height: 125vw;
}

  .floating-icons img{
        width: 22vw;
    right: 0.2vw;
    position: relative;
}

  .carouselCientesControls{
  .carousel-inner {
       position: relative;
    width: 100%;
    overflow: hidden;
    height: 142vw;
}

  .style-carousel-ch-next{
      width: 8vw;
      height: 8vw;
      position: absolute;
      left: 76vw;
      top: 204vw;
      opacity: 1;
      .carousel-control-next-icon {
          background-image: url(/img/SiguienteDerecha.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          width: 8vw;
          height: 8vw;
             &:hover {
      filter: grayscale(1);
      cursor: pointer;
    }
      }

  }


  .style-carousel-ch-pre{
      width: 8vw;
      height: 8vw;
      position: absolute;
      left: 55vw;
      top: 204vw;
      opacity: 1;

      .carousel-control-prev-icon {
        background-image: url(/img/SiguienteIzquierda.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 8vw;
          height: 8vw;
          &:hover {
      filter: grayscale(1);
      cursor: pointer;
    }
      }


  }
 .clientes{
    video{
          width: 100vw;
    }
  }
}

.text-branding {
       font-size: 4.2vw;
    position: absolute;
    display: block;
    left: 0.2vw;
    color: #ffffff;
    font-weight: 500;
    width: 100vw;
    top: 118vw;
    text-align: end;
    padding: 6vw 10vw;
    background-color: #E43D30;
    height: 25vw;
}


.testimonials-title {
       font-size: 5.8vw !important;
    text-align: left;
    margin: 7vw 0vw 21vw -5vw !important;
    color: #4A4F54;
    line-height: 1.2;
    left: 8vw;
    position: relative;
    font-weight: 600;
    width: 64vw;
    position: relative;
    display: block;
    letter-spacing: .5vw;
}



.testimonials-section{
  .carousel-inner {
       position: relative;
    width: 109%;
    overflow: hidden;
    height: 132vw;
}
  .style-carousel-ch-next{
         width: 8vw;
    height: 8vw;
    position: absolute;
    left: 83vw;
    top: 21vw;
    opacity: 1;
      .carousel-control-next-icon {
          background-image: url(/img/SiguienteDerecha.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          width: 7vw;
          height: 7vw;
             &:hover {
      filter: grayscale(1);
      cursor: pointer;
    }
      }

  }


  .style-carousel-ch-pre{
      width: 8vw;
      height: 8vw;
      position: absolute;
      left: 63vw;
      top: 21vw;
      opacity: 1;

      .carousel-control-prev-icon {
        background-image: url(/img/SiguienteIzquierda.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 7vw;
          height: 7vw;
          &:hover {
      filter: grayscale(1);
      cursor: pointer;
    }
      }


  }



}


.gif-container{
       width: 50vw;
    position: absolute;
    left: 50vw;
    top: 0vw;
    display: inline-block;
    video{
      width: 100%;
      height: 40vw;
    }
}

    .testimonial-card {
        flex: 0 0 100%;
    min-height: 130vw;
    padding: 10vw;
    margin: 0;
    }

        .testimonials-carousel-container {
        padding: 0 12vw;
    }


    .testimonial-card {
        flex: 0 0 calc(108.33% - 8vw);
    padding: 9.5vw;
    height: 41vw;
    background-color: #e43d30;
    color: #fff;
    border-radius: 5vw;
    text-align: left;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 152vw;
}

.testimonial-card .quote {
        font-size: 5.5vw;
    margin-bottom: 4vw;
    line-height: 5.5vw;
    font-weight: 500;
    height: 10vw;
}

.testimonial-card .description {
        font-size: 3.5vw;
    line-height: 4.5vw;
    overflow-y: auto;
    font-weight: normal;
    margin-bottom: 20vw;
    top: 23vw;
    position: relative;
}

.testimonial-card .author {
    font-size: 3.5vw;
    font-weight: 300;
    text-align: right;
    margin-bottom: 0;
    position: relative;
    top: 8vw;
}

.testimonial-card .position {
    font-size: 2.88vw;
    color: rgba(255, 255, 255, 0.9);
    text-align: right;
    position: relative;
    top: 9vw;
}

.horizontal-carousel {
       display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    width: 100vw;
    height: 20vh;
    background-color: #003333;               /* opcional: pantalla completa */
}

.starlink {
       width: 42vw !important;
    object-fit: contain !important;
    left: 6vw;
    position: relative;
    top: 0vw;
}
.discover {
    width: 54vw !important;
    object-fit: contain !important;
}
.disney {
    width: 45vw !important;
    object-fit: contain !important;
}
.espn {
    width: 46vw !important;
    object-fit: contain !important;
}
.fox {
    width: 30.5vw !important;
    object-fit: contain !important;
}

.mcdonal {
    width: 18.5vw !important;
    object-fit: contain !important;
}

.swiper {
    background-color: #003333;
    height: 39vw;
}

.swiper-slide {
       text-align: center;
    align-content: center;
}

.title2[_ngcontent-ng-c3644864520] {
    width: 79vw;
    position: relative;
    display: block;
    font-size: 5.5vw;
    line-height: 5.5vw;
    text-align: left;
    left: 11vw;
    margin-bottom: 9vw;
    margin-top: 5vw;
}

.title2{
       width: 80vw;
    position: relative;
    display: block;
    font-size: 4.4vw;
    line-height: 6vw;
    text-align: center;
    left: 10vw;
    margin-bottom: 0vw;
    height: 51vw;
    margin-top: 1;
    font-weight: 300;
}

.clients-carousel-section {
    padding: 0px 0;
    overflow: hidden;
    margin-top: 13vw;
}
.img-contacto{
       width: 29vw;
    left: 37vw;
    position: relative;
    margin-top: 7vw;
    margin-bottom: 7vw;
}

.img-contacto-2{
    visibility: hidden;
    display: none;
   }

   .contact-section-home{
        flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100vw;
    height: 286vw;
   }

   .contact-form-home{
     display: flex;
    flex-direction: column;
    width: 40vw;
    padding-right: 0px;
    left: 40vw;
    position: relative;
    top: -35vw;
}

.form-image-door{
      position: relative;
    display: inline-block;
    width: 66vw;
    left: 1vw;
    top: 141vw;
}

}





.slide {
    flex: 0 0 56%;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
}



